@if(isDone) {
<div
  [ngClass]="{
    alert: true,
    'alert-dismissible': true,
    'alert-success': status === 'success',
    'alert-danger': status === 'danger'
  }"
  role="alert"
>
  <div>{{ message }}</div>

  <button
    type="button"
    (click)="turnOffNotify()"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
} @if(isLoading) {
<div class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
}

<div class="table-responsive">
  <div class="group-modify">
    <button
      (click)="addRow()"
      [disabled]="btnAddStatus"
      class="btn btn-dark add-button"
    >
      Thêm cột
    </button>
    <button
      (click)="save()"
      [style]="{ display: btnSaveStatus ? 'none' : 'block' }"
      class="btn btn-success add-button save-button"
      id="liveAlertBtn"
    >
      Lưu @if(numberChanged > 0) {
      {{ numberChanged }} thay đổi }
    </button>

    <button
      (click)="discard()"
      [style]="{ display: btnSaveStatus ? 'none' : 'block' }"
      class="btn btn-light add-button discard-button"
      id="liveAlertBtn"
    >
      Hủy thay đổi
    </button>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên trường</th>
        <th>Kiểu dữ liệu và độ dài</th>
        <th>Nullable</th>
        <th>Auto Increment</th>
        <th>P/K Key</th>
        <th>Mặc định</th>
        <th>Mô tả</th>
        <th>Xóa</th>
        <!-- Thêm cột cho nút xóa -->
      </tr>
    </thead>
    <tbody>
      @for(row of rows; track row.id){
      <tr>
        <td>
          <input type="text" [(ngModel)]="row.id" [disabled]="true" />
        </td>
        <td>
          <input
            type="text"
            [(ngModel)]="row.name"
            [disabled]="row['disabled']"
            (ngModelChange)="onFieldChange($event, row.id, 1)"
            required
          />
        </td>
        <td>
          <input
            type="text"
            [(ngModel)]="row.dataType"
            [disabled]="row['disabled']"
            (ngModelChange)="onFieldChange($event, row.id, 2)"
            required
          />
        </td>
        <td>
          <select
            [(ngModel)]="row.nullable"
            [disabled]="row.disabled"
            (ngModelChange)="onFieldChange($event, row.id, 3)"
          >
            <option [value]="true">true</option>
            <option [value]="false">false</option>
          </select>
        </td>
        <td>
          <select
            [(ngModel)]="row.autoIncrement"
            [disabled]="row.disabled"
            (ngModelChange)="onFieldChange($event, row.id, 4)"
          >
            <option [value]="true">true</option>
            <option [value]="false">false</option>
          </select>
        </td>
        <td>
          <select
            [(ngModel)]="row.primaryKey"
            [disabled]="row.disabled"
            (ngModelChange)="onFieldChange($event, row.id, 5)"
          >
            <option [value]="true">true</option>
            <option [value]="false">false</option>
          </select>
        </td>
        <td>
          <input
            type="text"
            [(ngModel)]="row.defaultValue"
            [disabled]="row['disabled']"
            (ngModelChange)="onFieldChange($event, row.id, 6)"
          />
        </td>
        <td>
          <input
            type="text"
            [(ngModel)]="row.description"
            [disabled]="row['disabled']"
            (ngModelChange)="onFieldChange($event, row.id, 7)"
          />
        </td>
        <td>
          <button
            [disabled]="row.disabled"
            (click)="deleteRow(rows.indexOf(row))"
            class="btn btn-danger"
          >
            X
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
