<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Đăng nhập</title>
  </head>

  <body>
    <div id="page-login">
      <div class="background container">
        <div class="row page-container m-20">
          <div class="col-xs-12 col-md-6">
            <div class="box-header">
              <div class="text-header">Đăng nhập</div>
            </div>

            <div class="input-content">
              <form action="" method="post" id="myForm">
                <div class="text-data-input">Tên đăng nhập</div>
                <div class="input username">
                  <i class="ti-user icon"></i>
                  <div class="input-data">
                    <label for="input-username"></label>
                    <input
                      type="text"
                      id="input-username"
                      name="input-username"
                      [(ngModel)]="user.username"
                    />
                  </div>
                </div>
                <div class="text-data-input">Mật khẩu</div>
                <div class="input password">
                  <i class="ti-lock icon"></i>
                  <div class="input-data">
                    <label for="input-password"></label>
                    <input
                      type="password"
                      id="input-password"
                      name="input-password"
                      [(ngModel)]="user.password"
                    />
                  </div>
                </div>
              </form>
            </div>

            <div class="choose">
              <label for="checkbox-remember" class="checkbox-container">
                <input
                  type="checkbox"
                  id="checkbox-remember"
                  name="checkbox-remember"
                />
                <span class="checkmark"></span>
                <div class="remember-me">Nhớ mật khẩu</div>
              </label>
            </div>

            <div class="btn">
              <button type="button" class="btn-login" (click)="login()">
                Đăng nhập
              </button>
              <button
                (click)="navigateToRegister()"
                class="btn-create-account"
                type="button"
              >
                Đăng ký
              </button>
            </div>

            <div class="wrapper-other-method">
              <div class="line"></div>
              <div class="text-data border-text">Đăng nhập với</div>
              <div class="line"></div>
            </div>

            <div class="login-other-method">
              <a href="./auth/google">
                <img
                  class="login-logo"
                  src="../assets/img/icons8-google-48.png"
                  alt=""
              /></a>
              <img
                class="login-logo"
                src="../assets\img\icons8-facebook-48.png"
                alt=""
              />
              <img
                class="login-logo"
                src="../assets\img\icons8-twitter-circled-48.png"
                alt=""
              /><a></a>
            </div>
            <div class="box-fix-bug"></div>
          </div>
          <div class="col-xs-0 col-md-6">
            <div class="background-img">
              <div class="welcome-text">
                <div class="hello">Xin chào,</div>
                <div class="welcome">Mừng bạn trở lại</div>
              </div>

              <img class="img" src="../assets\img\background.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div
        #toastFail
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        class="toast fade"
        data-bs-autohide="false"
      >
        <div class="toast-header">
          <img
            class="icon-img"
            src="assets/icons/fail.png"
            height="25px"
            width="25px"
            class="rounded me-2"
            alt="..."
          />
          <strong class="me-auto">{{
            failInformation.title | uppercase
          }}</strong>
          <small></small>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
        <div class="toast-body" [innerHTML]="failInformation.message"></div>
      </div>

      <div
        #toastSuccess
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        class="toast fade"
        data-bs-autohide="false"
      >
        <div class="toast-header">
          <img
            class="icon-img"
            height="25px"
            width="25px"
            src="assets/icons/success.png"
            class="rounded me-2"
            alt="..."
          />
          <strong class="me-auto">{{
            successInformation.title | uppercase
          }}</strong>
          <small></small>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
        <div class="toast-body" [innerHTML]="successInformation.message"></div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
