.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.template-list {
  list-style-type: none;
  padding: 0;
  width: 100%; /* Giả sử bạn muốn chiều rộng của ul là 100% chiều rộng của phần tử cha của nó */
  display: flex; /* Sử dụng flexbox để các li tự động căn chỉnh */
}

.template-list li {
  padding: 10px;
  border: 1px solid #ddd;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;

  width: 30%; /* Mỗi li chiếm 1/3 chiều rộng của ul */
  box-sizing: border-box; /* Đảm bảo padding và border không làm thay đổi kích thước đã định */
}

.template-list li:hover {
  background-color: #f0f0f0;
}

.template-list li.selected {
  background-color: rgb(0, 62, 178);
  color: white;
}

.upload-container {
  text-align: center;
  align-items: center;
  margin: 0 20px 0 20px;
}

.default_button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: rgb(0, 178, 125);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  align-items: center;
}

.tmp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dinh-dang {
  padding-bottom: 3px;
}
.template-extension {
  justify-content: center;
  align-items: center;
}

.default_button:hover {
  background-color: rgb(38, 216, 162);
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #303f9f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.button_list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#download_button {
  margin-right: 20px;
}

.form-floating {
}

#floatingTextarea2 {
  min-height: 53vh;
}
.report-left {
  display: flex;
  flex-direction: column;
}
.content-container {
  height: 100vh; /* Hoặc một giá trị cụ thể, tùy vào thiết kế của bạn */
  width: 100%;
  overflow-y: auto; /* Hiện vertical scrollbar khi cần */
  overflow-x: auto; /* Ẩn horizontal scrollbar */
}

.template-container {
  height: 25vh; /* Hoặc một giá trị cụ thể, tùy vào thiết kế của bạn */
  width: 100%;
  overflow-y: auto; /* Hiện vertical scrollbar khi cần */
}
.header {
  margin-bottom: 50px;
  display: flex; /* Thiết lập container là flexbox */
  align-items: center; /* Căn giữa các items theo chiều dọc */
  justify-content: space-between; /* Phân bố khoảng cách đều giữa các items */
}

.title {
  flex-grow: 1; /* Cho phép h2 mở rộng để chiếm khoảng trống còn lại */
  text-align: center; /* Căn giữa nội dung của h2 */
}
.loading {
  margin-left: auto; /* Đẩy spinner lên vị trí cuối cùng của container */
}
.title-header {
  margin-top: 20px;
}
